@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 "Poppins", sans-serif;
}

body {
    display: flex;
    padding: 3em;
    width: 1800px;
    height: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.site-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 100%;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.site-container {
    display: flex;
    justify-content: center;
    flex: 1 0 100%;
    gap: 2em;
}

.card {
    display: flex;
    flex: 1 0 30%;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(130, 157, 175);
    border-radius: 20px;
}

.card img {
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.card h3 {
    font-size: 1.8em;
    padding: 1em;
}

.card p {
    padding-left: 1.5em;
    font-size: 1.2em;
}

.card button {
    background-color: rgb(40, 126, 203);
    display: flex;
    border-radius: 30px;
    margin-left: 2em;
    margin-bottom: 2em;
    align-self: self-start;
    color: white;
    padding: 1em 2em;
    border: 1px solid white;
}

.site-header h2 {
    font-size: 2.2em;
    text-align: center;
}

.site-header p {
    font-size: 1.3em;
}

.site-header span {
    color: rgb(40, 126, 203);
}