body {
    padding: 0 2em;
    background-color: rgb(143, 216, 216);
}

.site {
    max-width: 40em;
    margin: 0 auto;
    background: white;
}

.site-header,
.site-content,
.site-footer {
    padding: 2em;
}