@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 "Agbalumo", sans-serif;
}

body {
    border: 2px solid black;
    margin: 1em;
    width: 900px;
}

header {
    background-color: rgb(213, 235, 234);
}

footer {
    background-color: rgb(213, 235, 234);
}

.Facts {
    background-color: black;
    color: white;
    font-size: 1.6em;
    text-indent: 50px;
    margin-right: 25em;
}

article {
    padding: 20px 40px 20px 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

header h1 {
    margin-left: 20px;
    margin-right: 40px;
    padding-top: 20px;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 2.6em;
}

header p {
    margin-left: 20px;
    margin-right: 40px;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.2em;
}

.card {
    border: 2px solid black;
    padding: 10px;
    flex: 0 0 30%;
}

section {
    flex: 1 0 50%;
    padding-top: 20px;
    font-size: 1.5em;
    text-indent: 50px;
}

section p:first-of-type {
    padding-bottom: 15px;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    text-indent: 20px;
}

ul {
    text-indent: 35px;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 2;
}

ul span {
    font-weight: bold;
}