.site-footer {
    background-color: #171720;
    max-height: 340px;
    display: flex;
    flex-direction: row;
    gap: 4em;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 12em;
    padding-bottom: 4em;
}

.site-footer-bottom {
    background-color: #171720;
    justify-content: flex-start;
    color: #666068;
    border-top: 1px solid #666068;
    padding-left: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-footer h3 {
    color: #DDE3D3;
    padding-bottom: 1em;
}

.site-footer p {
    color: #666068;
    text-transform: uppercase;
    line-height: 2.5;
}